  <article class="card mb-2">
    <div class="card-body">
      <p>{{item.origin}}</p>
      <p>{{item.shortUrl}}</p>
      <a href="/delete/{{item._id}}" class="btn btn-danger">Delete</a>
      <a href="/edit/{{item._id}}" class="btn btn-warning">Edit</a>
      <button data-short="{{item.shortURL}}" class="btn btn-info js-btn-copy">Copy</button >
    </div>
  </article>